body{
    margin: 0;
    background-color: #b4b2ec;
}
h1{
    text-align: center;

}
.container__main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
   
    
}
.container__form{
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 3px solid blue;
    background-color: rgb(207, 207, 207);
    
}
form{
    display: flex;
    flex-direction: column;
    gap:10px
    
}
#UserForm{
    margin: 10px 10px 10px 10px;
}
label{
    display: flex;
    margin-right:10%;
    width: 30%;
    font-weight: bold;
   
}
.element__form{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
input[type="checkbox" i]{
    margin-left: 10%;
}
.form__btns{
    display: flex;
    justify-content: center;


}
button:first-child{
    margin-right: 5%;
    
}
input{
    width: 40%;
    max-width: 40%;
    min-width: 10%;
}
.subTitle{
    display: flex;
    justify-content: center;
}
.btnEnviar{
    border: 1px solid white;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(231, 154, 231);
}
.btnInsertar{
    border: 1px solid white;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(219, 207, 139);
}
@media (max-width: 900px) {
    .container__form{
        width: 80%;  
    }
}